Favorites!<br />

%h1= current_user.menu_items.length
- current_user.menu_items.each do |item|
  %ul
    %li= item.name
    %li= link_to(item.menu.merchant.name, "merchants/#{item.menu.merchant.id}")
